
<div class="all">
    <div id="headerDiv" class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Moja muzička lista</h2>
          </div>
          <div class="openn">
          <a href="#" class="btn btn-primary" data-toggle="modal" (click)="open(mymodal)"> Dodaj pjesmu</a>   
        </div>
        </div>
      </div>
<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Pjesma</th>
                <th>Izvodjač</th>
                <th>URL</th>
                <th>Ocjena</th>
                <th>Favorit</th>
                <th>Datum unosa</th>
                <th>Datum editovanja</th>
                <th>Kategorija</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of PjesmeList">
                <td>{{dataItem.nazivPjesme}}</td>
                <td>{{dataItem.nazivIzvodjaca}}</td>
                <td><a [href]="dataItem.url" target="_blank" >{{dataItem.url}}</a></td>
                <td>{{dataItem.ocjena}}</td>
                <td *ngIf="dataItem.favorit==true; else NijeFavorit"><i class="fa fa-check"> </i> DA </td>
                <ng-template #NijeFavorit><td><i class="fa fa-times"></i> NE </td>
                </ng-template>
                <td>{{ dataItem.datumUnos | date: 'dd-MM-yyyy' }}</td>
                <td>{{ dataItem.datumEditovanja | date: 'dd-MM-yyyy' }}</td>
                <td>{{dataItem.kategorije.nazivKategorije}}</td>
                <td id="ikonice"> 
                    <a href="#"  style="margin-right: 5px;"  (click)="openEditModal(mymodal,dataItem)"> <i class="material-icons" style="font-size: 24px;color:#FFC107;">&#xE254;</i></a>
                    <a herf="#"  (click)="deletePut(dataItem)"> <i class="material-icons" style="font-size: 24px;color:#E34724;">&#xE872;</i> </a><td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form autocomplete="off" #createForm="ngForm">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="nazivPjesme">Naziv pjesme</label>
                    <div class="col-md-9">
                        <input type="text" id="nazivPjesme" name="nazivPjesme" class="form-control"
                            placeholder="Naziv pjesme" [(ngModel)]="pjesma.nazivPjesme" #nazivPjesme="ngModel">
              </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="nazivIzvodjaca">Naziv izvodjaca</label>
                    <div class="col-md-9">
                        <input type="text" id="nazivIzvodjaca" name="nazivIzvodjaca" class="form-control" 
                            placeholder="Naziv izvodjaca"[(ngModel)]="pjesma.nazivIzvodjaca"  #nazivIzvodjaca="ngModel">
                   </div>
                </div>
              <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="url">URL</label>
                    <div class="col-md-9">
                        <input type="text" id="url" name="url" class="form-control" placeholder="url pjesme"
                        [(ngModel)]="pjesma.url"#url="ngModel" [ngModelOptions]="{standalone: true}">     
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="ocjena">Ocjena</label>
                    <div class="col-md-9">
                        <input type="range" min="1" max="5" id="ocjena" name="ocjena" class="form-control" placeholder="ocjena"
                        [(ngModel)]="pjesma.ocjena" #ocjena="ngModel" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Favorit</label>
                    <div class="col-md-9 col-form-label">
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" type="checkbox" name="favorit" id="favorit"
                                [(ngModel)]="pjesma.favorit" #favorit="ngModel">
                                <span *ngIf="pjesma.favorit">DA</span>
                                <span *ngIf="!pjesma.favorit">NE</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="datumUnos">Datum unosa</label>
                    <div class="col-md-9">
                        <input id="datumUnos" name="datumUnos" class="form-control" placeholder="Datum unosa"
                        [(ngModel)]="pjesma.datumUnos" #datumUnos="ngModel">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="datumEditovanja">Datum editovanja</label>
                    <div class="col-md-9">
                        <input id="datumEditovanja" name="datumEditovanja" class="form-control"
                            placeholder="Datum editovanja"[(ngModel)]="pjesma.datumEditovanja" #datumEditovanja="ngModel">
                    </div>
                </div>  
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="kategorije" >Kategorija</label>
                    <div class="col-md-9">
                      <select id="kategorije" name="kategorije" class="form-control" [(ngModel)]="pjesma.kategorijaID" required  #statusPredmeta="ngModel">
                        <option value="" selected >--Odaberite--</option>
                        <option value="{{k.kategorijaID}}" *ngFor="let k of kategorije ">{{k.nazivKategorije}} </option>              
                      </select>                  
                    </div>
                  </div> 
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">        
         <button type="submit" class="btn btn-sm btn-primary"  (click)="save()"  [disabled]="!createForm.valid"><i class="fa fa-dot-circle-o"></i> Sačuvaj</button>   
         <button type="reset" class="btn btn-sm btn-danger" (click)="modal.close('Save click')"><i class="fa fa-ban"></i> Odustani</button>
        </div> 
</ng-template>

